.header-container{
    display: flex;
    gap: 30px;
}
.header-img{
    width: 350px;
    height: 350px;
}
.header-img:hover{
    transform: scale(0.95);
    transition: 1s;
}
.header-title{
    font-size: 20px;
    width: 400px;
    text-align: center;
    margin-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}